body {
  margin: 0;
  font-family: Arial;
  background: #0f172a;
  color: white;
}

/* HEADER */
h1 {
  text-align: center;
  color: #38bdf8;
  margin-top: 20px;
}

/* FORM CONTAINER */
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  margin: 20px;
}

/* INPUTS */
input, select {
  padding: 10px;
  border-radius: 6px;
  border: none;
  outline: none;
  min-width: 160px;
  height: 40px;
}

/* BUTTON */
button {
  height: 40px;
  padding: 0 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background: #22c55e;
  color: white;
  font-weight: bold;
  transition: 0.2s;
}

button:hover {
  background: #16a34a;
}

/* SHOW BUTTON */
.show-btn {
  display: block;
  margin: 10px auto;
  background: #3b82f6;
}

/* SECTION TITLE */
h2 {
  text-align: center;
  margin-top: 30px;
  color: white;
}

/* PATIENT CARDS */
#patients {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.card {
  background: #1e293b;
  padding: 15px;
  border-radius: 10px;
  width: 250px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.card h3 {
  margin: 0;
  color: #38bdf8;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  padding: 10px 35px 10px 12px;
  border-radius: 8px;
  border: 1px solid #334155;
  background-color: #0f172a;
  color: white;

  min-width: 160px;
  height: 40px;

  cursor: pointer;
}

/* Add custom dropdown arrow */
select {
  background-image: linear-gradient(45deg, transparent 50%, #38bdf8 50%),
                    linear-gradient(135deg, #38bdf8 50%, transparent 50%);
  background-position: calc(100% - 18px) calc(1em + 2px),
                       calc(100% - 13px) calc(1em + 2px);
  background-size: 5px 5px, 5px 5px;
  background-repeat: no-repeat;
}

.status {
  padding: 4px 10px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: bold;
  margin-left: 5px;
  display: inline-block;
}

/* STABLE */
.status.stable {
  background: #14532d;
  color: #4ade80;
}

/* NOT STABLE */
.status.not-stable {
  background: #7f1d1d;
  color: #f87171;
}