# Terraform files to ignore
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
terraform.tfvars

# Vault binaries
vault/
*.exe
*.txt
LICENSE.txt
vault-*.exe
vault-*.zip
vault.exe
D:\ITI\3 tier app\vault_1.21.4_windows_amd64\LICENSE.txt
